body{
    padding:0px;
    margin:0px;
}
.wrapper{
    width:100%;
    height:100vh;
    position: relative;
    background-image: url('../image/background.jpg');
    background-size: cover;
    animation: backgroundColor 5s linear infinite;
}
.wrapper::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../image/rainpng.png');
    filter: opacity(.3);
    animation: rainAnimation 0.17s linear infinite;
}
@keyframes rainAnimation{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 15% 100%;
    }
}
@keyframes backgroundColor{
    0%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
    100%{
        filter: hue-rotate(0deg);
    }
}